package {{ .Name | ToLower }}_test

import (
	"testing"

	"github.com/stretchr/testify/suite"
)

type fixture{{ .Name | Title }} struct {
	suite.Suite
}

func TestSute(t *testing.T) {
	suite.Run(t, new(fixture{{ .Name | Title  }}))
}

func (f *fixture{{ .Name | Title  }}) SetupTest() {
}

func (f *fixture{{ .Name | Title }}) Test{{ .Name | Title }}() {
	f.Equal(1, 2, "test to fail")
}
